.spot-tile-link {
    text-decoration: none;
    color:aqua
}

.spot-tile {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .1);
    transition: transform 0.2s;
}

.spot-tile:hover {
    transform: scale(1.05);
}

.spot-image {
    width:100%;
    height: 200px;
    object-fit: cover;
}

.spot-info {
    padding: 10px;
}

.spot-rating {
    color: #ff9900
}