.Navigation {
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}

.header{
  border-bottom: 1px solid #000;
}

ul {
  list-style: none;
  margin: 20px;
  padding: 50px;
  display: flex; /* Flexbox for alignment */
  justify-content: space-between; /* Space between elements */
  max-width: 1200px;
  align-items: center;
}

.Home{
  text-decoration: none;
  color: #C7383C;
  font-weight: bolder;
  font-style: italic;
}

.logo-container{
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border:  1px;
}

.logo {
  width: 40px;
  margin-right: 5px;
}

.profile {
  background-color: transparent;
  border: none;
  color: #C7383C;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile:hover {
  color: #000;
}

.profile-dropdown {
  /* display: flex; */
  /* flex-direction: row;  */
  /* position: absolute; */
  right: 0;
  top: 100%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  padding: 10px;
  width: 300px;
  height: 300px;
  z-index: 1000;
}
  
.profile-dropdown li {
  padding: 10px 0;
  /* border-bottom: 1px solid #ddd; */
  text-align: left;
}
  
.profile-dropdown li:last-child {
  border-bottom: none;
}
  
.profile-dropdown button {
  background-color: #C7383C;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
  
.profile-dropdown button:hover {
  background-color:#e0e0e0;
}

.options{
  display: flex;
  gap: 5px
}

.options-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%
}

.manage-spots{
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  width: 95%;
  
}

.manage-button{
  background-color: transparent;
  color: #000;
  width: 260px;
}

.hyper{
  text-decoration: none;
  color:#FAF9F6;
}